.contactForm {
  display: flex;
  flex-direction: column;
  border: 2px solid #010509;
  padding: 10px;

  border-radius: 5px;
}

.formGroup {
  margin-bottom: 10px;
}

.formGroup label {
  display: block;
  margin-bottom: 10px;
}

.formGroup input {
  width: 92%;
  padding: 8px;
  border: 1px solid #000000da;
  border-radius: 4px;
}

.errorMessage {
  color: red;
  font-size: 12px;
}

.addContactButton {
  background-color: #666668;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.addContactButton:hover {
  background-color: #000102;
}