.contactItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;

}

.contactInfo {
  display: flex;
  flex-direction: column;
  
}

.contactName {
  font-weight: bold;
}

.contactNumber {
  color: gray;
}

.deleteButton {
  background-color: pink;
  color: black;
  border: 1px solid;
  border-color: black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 50px;
}

.deleteButton:hover {
  background-color: #FF0000;
}
.user,
.phone{
margin-right: 5px;
}